@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
@import url(https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet);
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#instructions {
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  position: relative;
  bottom: -10px;
  margin-left: 18%;
  margin-right: 18%;
  text-align: justify;
}

#gameTitle2 {
    font-family: 'Lily Script One', cursive;
    font-weight: bold;
    color: cornflowerblue;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: -4%;
}

#gameTitleSpan {
    font-size: 3.5em;
}

#startButton:hover {
    opacity: 0.8;
}

#startButton:active {
    opacity: 0.4;
}

#startButton:focus {
    outline: none;
}

#startButton {
    background: #1abc9c;
    border: none;
    color: white;
    cursor: pointer;
    padding: 9px 10px;
    font-size: 30px;
    border-radius: 25px;
    width: 100%;
    height: 25%;
}

#startButtonDiv {
    position: absolute;
    top: 90%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

#divider {
    width: auto;
    height: 5px;
    display: block;
}

#Bgs {
    background-color: #DCDCDC;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    color: black;
    padding: 9px 10px;
    font-size: 20px;
    font-weight: bold;
    width: 170px;
    height: 65px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


#ContinueBtn:hover {
    opacity: 0.8;
}

#ContinueBtn:active {
    opacity: 0.4;
}

#ContinueBtn:focus {
    outline: none;
}

#ContinueBtn {
    background: #1abc9c;
    border: none;
    color: white;
    cursor: pointer;
    padding: 9px 10px;
    font-size: 30px;
    border-radius: 25px;
    width: 100%;
    height: 25%;
    display: none;
}

/* #continueBtnDiv {
    position: absolute;
    top: 85%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
    display: none;
} */



.box {
  width: 13%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  position: absolute;
  bottom: 8px;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: black;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .cls {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .cls:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
