@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);

#gameTitle1 {
    font-family: 'Lily Script One', cursive;
    font-weight: bold;
    color: cornflowerblue;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: -4%;
}

span {
    font-size: 3.5em;
    z-index: 100;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.4;
}

.btn {
    background: #1abc9c;
    border: none;
    color: white;
    cursor: pointer;
    padding: 9px 10px;
    font-size: 20px;
    border-radius: 25px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    background: white;
    /*background-image: url("../assets/images/kashi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.login {
    position: absolute;
    top: 70%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

#playerName {
    width: 100%;
    margin-bottom: 10px;
    padding: 13px;
    font-size: 12px;
    outline: none;
    color: #361C01;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

form input[type=text]:focus {
    border-color: cornflowerblue;
}
