@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
@import url(https://fonts.googleapis.com/css?family=Boogaloo);
#header {
    text-align: left;
}

h3 {
    font-family: 'Lily Script One', cursive;
    font-weight: bold;
    font-size: 90px;
    color: cornflowerblue;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: -6%;
}

.badges {
    width: 60px;
    height: 60px;
    margin: 10px 10px;
    float: right;
}

#yourCharacter {
    width: 100px;
    height: 100px;
    margin: 0px 10px;
    position: relative;
    left: 40px;
}

.chr {
    text-align: center;
    width: auto;
    height: 239px;
    display: block;
    position: absolute;
    right: 1069px;
    top: 349px;
    z-index: -1;
}

#mainMenuBtn {
    background-color: #1abc9c;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    padding: 9px 10px;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    height: 80px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#skipBtn {
    background-color: #DCDCDC;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    color: black;
    padding: 9px 10px;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    height: 80px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.talktext {
    font-family: 'Boogaloo';
    font-size: 25px;
    color: black;
    padding: 15px;
    text-align: justify;
    line-height: 1.5em;
    position: relative;
    width: 800px;
    margin-top: -26px;
    margin-bottom: -18px;
}

.speech-bubble {
    position: absolute;
    background: #20B2AA;
    border-radius: 30px;
    right: 305px;
    top: 151px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 19%;
    width: 0px;
    height: 5px;
    border: 20px solid transparent;
    border-top-color: #20B2AA;
    border-bottom: 0;
    border-left: 0;
    margin-left: -135px;
    margin-bottom: -20px;
}
