#charcChoose {
    font-weight: bold;
    color: #585266;
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 20px;
}

.characters #charcChoose {
    font: 1em "Helvetica Neue", cursive;
    font-size: 18px;
    line-height: 0.5em;
    background: white;
}

.Choose {
    width: 100%;
    display: block;
    margin: 50px auto;
    text-align: center;
}

html {
    overflow: hidden;
}

.characters {
    display: flex;
    padding-top: 200px;
    margin-left: 230px;
}

.characters img {
    margin: auto 50px;
    width: 100px;
    height: 100px;
    top: 100px;
}

/*I (Amr)made class="cr" instead of img to avoid any img conflict in the future*/

.cr:hover {
    transform: scale(2);
    margin-bottom: 17px;
    cursor: pointer;
}

.types {
    display: flex;
    padding-top: 50px;
    margin-left: 230px;
}

.types p {
    margin: auto 50px;
    width: 100px;
    height: 100px;
    top: 100px;
    font-weight: bold;
    color: #585266;
    font-size: 20px;
}

#mainMenuButton01 {
    background: #1abc9c;
    border: none;
    color: white;
    cursor: pointer;
    padding: 9px 10px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 25px;
    width: 200px;
    height: 80px;
}

#mainMenuButtonDiv5 {
    position: fixed;
    left: 13px;
    top: 646px;
    width: 200px;
    height: 80px;

}
