@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

#game {
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 200px;
    width: 1000px;
}

#moves {
    display: -webkit-inline-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    margin: auto;
    padding: 30px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    order: 1;
}

#towers {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
    margin: auto;
    order: 2;
}

#towers ul {
    box-sizing: content-box;
    position: relative;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 10vw;
    height: 200px;
    margin: 0 2.5em 2.5em 2.5em;
    padding: 0;
    text-align: center;
    border-bottom: 0.75vw saddlebrown solid;
    border-radius: 20px;
    list-style: none;
    cursor: pointer;
    overflow: hidden;
}

#towers ul:before {
    content: '';
    background-color: saddlebrown;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    width: 0.75vw;
    height: 200px;
    left: calc(50% - .4vw);
    z-index: 9;
}

#towers li {
    display: block;
    z-index: 19;
    height: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color: #e4b326;
}

#towers li[id="disc-1"] {
    width: 3vw;
}

#towers li[id="disc-2"] {
    width: 4vw;
}

#towers li[id="disc-3"] {
    width: 5vw;
}

#towers li[id="disc-4"] {
    width: 6vw;
}

#towers li[id="disc-5"] {
    width: 7vw;
}

#towers li[id="disc-6"] {
    width: 8vw;
}

#towers li[id="disc-7"] {
    width: 9vw;
}

/**/

#mainMenuButton6 {
    background: #1abc9c;
    border: none;
    color: white;
    cursor: pointer;
    padding: 9px 10px;
    font-size: 30px;
    border-radius: 25px;
    font-weight: bold;
    width: 200px;
    height: 80px;
}

#mainMenuButtonDiv {
    width: 190px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    left: 10px;
}

#restartButton {
    background: firebrick;
    border: none;
    color: white;
    cursor: pointer;
    padding: 9px 10px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 25px;
    width: 200px;
    height: 80px;
}

#restartDiv {
    width: 190px;
    height: 70px;
    position: fixed;
    bottom: 120px;
    left: 10px;
}

#optimumSolutionButton {
    background: #5F9EA0;
    border: none;
    color: black;
    cursor: pointer;
    padding: 9px 10px;
    font-size: 20px;
    border-radius: 25px;
    width: 200px;
    height: 80px;
}

#optimumSolutionButtonDiv {
    width: 190px;
    height: 70px;
    position: fixed;
    bottom: 19px;
    right: 20px;
}
