body {
    background-color: white;
    padding-bottom: 70px;
    font: 1em "Helvetica Neue", cursive;
    line-height: 1.5em;
    color: #585266;
}

#typeOfPerson {
    margin-top: -50px;
    margin-left: -30px;
    text-align: center;
    color: black;
}

.difficulty {
    margin-top: 50px;
    text-align: center;
}

.level {
    position: relative;
    width: 6em;
    height: 6em;
    margin: 30%;
    border-radius: 10%;
    background-color: #c3bfa1;
    overflow: hidden;
    margin: 0px auto;
    filter: grayscale(100%);
}

.level::after, .level::before {
    content: '';
    position: absolute;
    border-radius: 10%;
    border: 3em solid transparent;
}

.level.easyLevel::after {
    border-top: 3em solid transparent;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    border-bottom: 3em solid #02d6a4;
}

.level.averageLevel::after {
    border-top: 3em solid transparent;
    border-left: 3em solid #00ac99;
    border-right: 3em solid transparent;
    border-bottom: 3em solid #02d6a4;
}

.level.hardLevel::after {
    border-top: 3em solid #e27161;
    border-left: 3em solid #00ac99;
    border-right: 3em solid transparent;
    border-bottom: 3em solid #02d6a4;
}

.level.insaneLevel::after {
    border-top: 3em solid #e27161;
    border-left: 3em solid #00ac99;
    border-right: 3em solid #cd002f;
    border-bottom: 3em solid #02d6a4;
}

#mainMenuButton4, #mainMenuBtn {
    background: #1abc9c;
    border: none;
    color: white;
    cursor: pointer;
    padding: 9px 10px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 25px;
    width: 200px;
    height: 80px;
}

#mainMenuButtonDiv4 {
    position: fixed;
    left: 13px;
    top: 646px;
    width: 200px;
    height: 80px;
}

.anchor {
    position: relative;
    left: 1px;
    display: inline-block;
    height: 96px;
    max-width: 96px;
}

#tier1 {
    position: absolute;
    top: 120px;
    left: 520px;
    display: inline-block;
}

#tier2 {
    position: absolute;
    top: 120px;
    left: 720px;
    display: inline-block;
}
